
 * {
    margin: 0;
    padding: 0;
}
img{
	border-radius: 15px;}
a {
	text-decoration: none;
	
    }

 body{
	background-image:url(../img/bg2.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	 }
.top{
	width:1520px;
	height:160px;
	position:relative;
}
 .logo{
	 width:160px;
	 height:160px;
	 position:absolute;
	 }
.menu{
	width: 380px;
	height: 70px;
	position: absolute;
	left: 600px;
	top: 40px;
	background-color: rgba(153,153,153,0.5);
	border-radius: 10px;
	}
.box{
	width: 70px;
	height: 56px;
	position: relative;
	margin-left: 20px;
	margin-top: 5px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px;
	float: left;
	}
	.box a{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	top: 8px;
	left: 10px;
	color: #000;
		}
	.box a:hover {
	color: #FFF;
    }
.main{
	background-color: rgba(102,102,102,0.5);
	height: 1200px;
	width: 1200px;
	margin-left: 180px;
	border-radius: 10px;
	position: relative;
	}
.in{
	 width:800px;
	 height:500px;
	 position:absolute;
	 top:20px;
	 left:200px;
	 }
.rank{
	position:absolute;
	top:560px;
	left:100px;
	}
.p1{
	color:#FFF;
	font-size:32px;
	}
.m1{
	
	margin-top:10px}
.p2{
	color:#FFF;
	margin-left:53px;
	} 
.p2:hover {
	color: #000;
}  
.mv1{
	float:left;
	}
.mv2{
	float:left;
	margin-left:20px
	}
